---
---

$primary: #fc5162;
// Import Main CSS file from theme
@import "main";

.hero:first-of-type {
    background: linear-gradient(141deg, rgba(255, 2, 57, 0.9), rgba(252, 56, 66, .9), rgba(255, 99, 79, .7)), url(/assets/img/sprinkles.jpg) no-repeat center center !important;
    background-size: cover !important;
}

.title-icon {
    padding-left: 1rem;
}