---
layout: page
title: Best Donut Shops
hero_height: is-small
permalink: /shops/
---

<h2>Tier Explanations</h2>
<b>Great</b> - The best of the best. I would go out of my way to grab a donut from these places. Little to nothing to complain about.
<br><br>
<b>Good</b> - I would happily buy a donut from any of these places if I were in the mood and a location was nearby. Good donuts but not worth inconveniencing myself. These shops often do at least one thing great, but just are not great across the board.
<br><br>
<b>Okay</b> - Average donuts. If a coworker brought these in to the office I would still eat them. Not bad, but probably not donut shops I would go back to given the many other superior options.
<br><br>
<b>Poor</b> - Donuts that I did not finish eating. Would not go back and might actively discourage others from visiting.
<br><br>
<b>Upcoming</b> - Places that I've heard of or that were recommended to me that I have yet to try.
<br><br>

<ul id="shop-toggle" class="block-list is-small is-primary is-centered" style="width: fit-content;">
    <li onclick="toggle()" onmousedown="this.classList.toggle('is-highlighted')" onmouseup="this.classList.toggle('is-highlighted')">
        <span id="local-shops">Show Only Local Shops</span>
        <span id="all-shops" class="hide">Show All Shops</span>
    </li>
</ul>

<h2>Great <i class="far fa-laugh-beam"></i></h2>
<ul class="block-list is-dark is-outlined">
    {% for shop in site.data.shops.great %}
        <li>
            {% include shop.html shop=shop %}
        </li>
    <br>
    {% endfor %}
</ul>

<h2>Good <i class="far fa-smile"></i></h2>
<ul class="block-list is-dark is-outlined">
    {% for shop in site.data.shops.good %}
        <li>
            {% include shop.html shop=shop %}
        </li>
    <br>
    {% endfor %}
</ul>

<h2>Okay <i class="far fa-meh"></i></h2>
<ul class="block-list is-dark is-outlined">
    {% for shop in site.data.shops.okay %}
        <li>
            {% include shop.html shop=shop %}
        </li>
    <br>
    {% endfor %}
</ul>

<h2>Poor <i class="far fa-frown"></i></h2>
<ul class="block-list is-dark is-outlined">
    {% for shop in site.data.shops.poor %}
        <li>
            {% include shop.html shop=shop %}
        </li>
    <br>
    {% endfor %}
</ul>

<br>

<ul>
    <h2>Upcoming</h2>
    <li>Johnny's Donuts</li>
    <li>Donutology</li>
    <li>Ray's Donuts</li>
    <li>Ridgewood Donuts</li>
</ul>

<script>
    function toggle() 
    {
        var chains = document.getElementsByClassName("chain");
        for(let i = 0; i < chains.length; i++)
        {
            chains[i].closest("li").classList.toggle("hide");
        }
        document.getElementById("local-shops").classList.toggle("hide")
        document.getElementById("all-shops").classList.toggle("hide")
    }
</script>
<style>
    .hide {display:none;}
    #shop-toggle {cursor: pointer;}
</style>